<h1>Sign up?</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>

<!-- <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %> -->
